{% extends "base.html" %} {% block content %}{% load humanize %}
	
<header id="header" class="fixed-header
" style="
position: fixed;
top: 50px;
width: 100%;
background-color: #2f3239; /* Set the background color as needed */
z-index: 1000; /* Ensure the header is above other elements */
 /* Add smooth transition effect */
">
<section class="container clearfix">
  <div class="logo"><a href="{% url "base:home"%}"><img alt="" src="/static/images/logo2.png"></a></div>
  <nav class="navigation">
    <ul>
      <li><a href="{% url "base:home"%}">Home</a>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index_2.html">Home 2</a></li>
          <li><a href="index_boxed_1.html">Home Boxed 1</a></li>
          <li><a href="index_boxed_2.html">Home Boxed 2</a></li>
          <li><a href="index_no_box.html">Home No Box</a></li>
        </ul>
      </li>
      {% if user.is_authenticated %}

        <li class="ask_question "><a href="{% url 'base:question_create' %}">Ask Question</a></li>
      {% else %}
        <li class="ask_question"><a href="{% url 'login' %}">Ask Question</a></li>
      
      {% endif %}
      
      <li class="current_page_item"><a href="cat_question.html">Questions</a>
        <ul>
          <li><a href="cat_question.html">Questions Category</a></li>
          <li><a href="single_question.html">Question Single</a></li>
          
        </ul>
      </li>
      <li><a href="user_profile.html">User</a>
        <ul>
          <li><a href="user_profile.html">User Profile</a></li>
          <li><a href="user_questions.html">User Questions</a></li>
          <li><a href="user_answers.html">User Answers</a></li>
          <li><a href="user_favorite_questions.html">User Favorite Questions</a></li>
          <li><a href="user_points.html">User Points</a></li>
          <li><a href="edit_profile.html">Edit Profile</a></li>
        </ul>
      </li>
      <li><a href="blog_1.html">Blog</a>
        <ul>
          <li><a href="blog_1.html">Blog 1</a>
            <ul>
              <li><a href="blog_1.html">Right sidebar</a></li>
              <li><a href="blog_1_l_sidebar.html">Left sidebar</a></li>
              <li><a href="blog_1_full_width.html">Full Width</a></li>
            </ul>
          </li>
          <li><a href="blog_2.html">Blog 2</a>
            <ul>
              <li><a href="blog_2.html">Right sidebar</a></li>
              <li><a href="blog_2_l_sidebar.html">Left sidebar</a></li>
              <li><a href="blog_2_full_width.html">Full Width</a></li>
            </ul>
          </li>
          <li><a href="single_post.html">Post Single</a>
            <ul>
              <li><a href="single_post.html">Right sidebar</a></li>
              <li><a href="single_post_l_sidebar.html">Left sidebar</a></li>
              <li><a href="single_post_full_width.html">Full Width</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="right_sidebar.html">Pages</a>
        <ul>
          <li><a href="login.html">Login</a></li>
          <li><a href="contact_us.html">Contact Us</a></li>
          <li><a href="ask_question.html">Ask Question</a></li>
          <li><a href="right_sidebar.html">Right Sidebar</a></li>
          <li><a href="left_sidebar.html">Left Sidebar</a></li>
          <li><a href="full_width.html">Full Width</a></li>
          <li><a href="404.html">404</a></li>
        </ul> 
      </li>
      <li><a href="shortcodes.html">Shortcodes</a></li>
      <li><a href="contact_us.html">Contact Us</a></li>
      {% comment %} <li><a href="contact_us.html"><img style="    width: 40px; height: 40px;" src="{% static 'images/patterns/bg13.png' %}"></img></a></li> {% endcomment %}
      
      {% if user.is_authenticated %}
      
        <li><a href="{% url "logout" %}">Logout</a></li>
      {% endif %}
    </ul>
  </nav>
</section><!-- End container -->
</header>
<div class="breadcrumbs" style="padding-top: 86px">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          User Profile : {{user_profile.user.profile.first_name}} {{user_profile.user.profile.last_name}}
          ( {{user_profile.user.username}} )
        </h1>
      </div>
      <div class="col-md-12">
        <div class="crumbs">
          <a href="#">Home</a>
          <span class="crumbs-span">/</span>
          <a href="#">User</a>
          <span class="crumbs-span">/</span>
          <span class="current"
            >User Profile : {{user_profile.user.profile.first_name}}
            {{user_profile.user.profile.last_name}} ( {{user_profile.user.username}} )</span
          >
        </div>
      </div>
    </div>
    <!-- End row -->
  </section>
  <!-- End container -->
</div>
<!-- End breadcrumbs -->

<section class="container main-content">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="user-profile">
          <div class="col-md-12">
            <div class="page-content">
              <div
                style="
                  width: 150px;

                  float: left;
                  margin-right: 15px;
                  padding: 2px;
                  border: 1px solid #e0e0e0;
                  background-color: #fff;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                "
              >
                <img
                  style="
                    width: 100%;
                    height: 150px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                  "
                  width="60"
                  height="60"
                  src="{{user_profile.user.profile.image.url}}"
                  alt="{{user_profile.user.username}}"
                />
              </div>
              <h2>
                About {{ user_profile.user.username }}
                {% if request.user == user_profile.user %}
                    <a
                        href="{% url 'profile_update' %}"
                        class="button medium red-button"
                        style="float: right"
                    >Update profile</a>
                {% endif %}
              </h2>
              <div class="ul_list ul_list-icon-ok about-user">
                <ul>
                  <li>
                    <i class="icon-plus"></i>Registerd :
                    <span>{{ user_profile.user.profile.date_of_joining }} </span>
                  </li>
                  <li>
                    <i class="icon-map-marker"></i>Country :
                    <span> {{ user_profile.user.profile.country }} </span>
                  </li>
                  <li>
                    <i class="icon-globe"></i>Website :
                    <a target="_blank" href="https://2code.info/">view</a>
                  </li>
                </ul>
              </div>
              <br />
              <p>{{user_profile.user.profile.bio}}</p>
              <div class="clearfix"></div>
              <span class="user-follow-me">Follow Me</span>
              <a href="#" original-title="Facebook" class="tooltip-n">
                <span class="icon_i">
                  <span
                    class="icon_square"
                    icon_size="30"
                    span_bg="#3b5997"
                    span_hover="#2f3239"
                    style="
                      height: 30px;
                      width: 30px;
                      font-size: 15px;
                      line-height: 30px;
                      background-color: rgb(59, 89, 151);
                      border-style: solid;
                    "
                  >
                    <i class="fab fa-facebook-f"></i>
                    <!-- Font Awesome Facebook icon -->
                  </span>
                </span>
              </a>

              <a href="#" original-title="Twitter" class="tooltip-n">
                <span class="icon_i">
                  <span
                    class="icon_square"
                    icon_size="30"
                    span_bg="#00baf0"
                    span_hover="#2f3239"
                    style="
                      height: 30px;
                      width: 30px;
                      font-size: 15px;
                      line-height: 30px;
                      background-color: rgb(0, 186, 240);
                      border-style: solid;
                    "
                  >
                    <i class="fab fa-twitter"></i>
                    <!-- Font Awesome Twitter icon -->
                  </span>
                </span>
              </a>
              <a href="#" original-title="Instagram" class="tooltip-n">
                <span class="icon_i">
                  <span
                    class="icon_square"
                    icon_size="30"
                    span_bg="#e4405f"
                    span_hover="#2f3239"
                    style="
                      height: 30px;
                      width: 30px;
                      font-size: 15px;
                      line-height: 30px;
                      background-color: rgb(228, 64, 95);
                      border-style: solid;
                    "
                  >
                    <i class="fab fa-instagram"></i>
                    <!-- Font Awesome Instagram icon -->
                  </span>
                </span>
              </a>
              <a href="#" original-title="LinkedIn" class="tooltip-n">
                <span class="icon_i">
                  <span
                    class="icon_square"
                    icon_size="30"
                    span_bg="#0077b5"
                    span_hover="#2f3239"
                    style="
                      height: 30px;
                      width: 30px;
                      font-size: 15px;
                      line-height: 30px;
                      background-color: rgb(0, 119, 181);
                      border-style: solid;
                    "
                  >
                    <i class="fab fa-linkedin"></i>
                    <!-- Font Awesome LinkedIn icon -->
                  </span>
                </span>
              </a>
              <a href="#" original-title="GitHub" class="tooltip-n">
                <span class="icon_i">
                  <span
                    class="icon_square"
                    icon_size="30"
                    span_bg="#333"
                    span_hover="#2f3239"
                    style="
                      height: 30px;
                      width: 30px;
                      font-size: 15px;
                      line-height: 30px;
                      background-color: rgb(51, 51, 51);
                      border-style: solid;
                    "
                  >
                    <i class="fab fa-github"></i>
                    <!-- Font Awesome GitHub icon -->
                  </span>
                </span>
              </a>
              <a
                href="mailto:your@email.com"
                original-title="Email"
                class="tooltip-n"
              >
                <span class="icon_i">
                  <span
                    class="icon_square"
                    icon_size="30"
                    span_bg="#ff4500"
                    span_hover="#2f3239"
                    style="
                      height: 30px;
                      width: 30px;
                      font-size: 15px;
                      line-height: 30px;
                      background-color: rgb(255, 69, 0);
                      border-style: solid;
                    "
                  >
                    <i class="fas fa-envelope"></i>
                    <!-- Font Awesome Email icon -->
                  </span>
                </span>
              </a>
            </div>
            <!-- End page-content -->
          </div>
          <!-- End col-md-12 -->
          <div class="col-md-12">
            <div class="page-content page-content-user-profile">
              <div class="user-profile-widget">
                <h2>User Stats</h2>
                <div class="ul_list ul_list-icon-ok">
                  <ul>
                    <li>
                      <i class="icon-question-sign"></i
                      ><a href="user_questions.html"
                        >Questions<span> ( <span>30</span> ) </span></a
                      >
                    </li>
                    <li>
                      <i class="icon-comment"></i
                      ><a href="user_answers.html"
                        >Answers<span> ( <span>10</span> ) </span></a
                      >
                    </li>
                    <li>
                      <i class="icon-star"></i
                      ><a href="user_favorite_questions.html"
                        >Favorite Questions<span> ( <span>3</span> ) </span></a
                      >
                    </li>
                    <li>
                      <i class="icon-heart"></i
                      ><a href="user_points.html"
                        >Points<span> ( <span>20</span> ) </span></a
                      >
                    </li>
                    <li>
                      <i class="icon-asterisk"></i>Best Answers<span>
                        ( <span>2</span> )
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End user-profile-widget -->
            </div>
            <!-- End page-content -->
          </div>
          <!-- End col-md-12 -->
        </div>
        <!-- End user-profile -->
      </div>
      <!-- End row -->
      <div class="clearfix"></div>
      <div class="page-content">
        <div class="user-stats">
          <div class="user-stats-head">
            <div class="block-stats-1 stats-head">#</div>
            <div class="block-stats-2 stats-head">Today</div>
            <div class="block-stats-3 stats-head">Month</div>
            <div class="block-stats-4 stats-head">Total</div>
          </div>
          <div class="user-stats-item">
            <div class="block-stats-1">Questions</div>
            <div class="block-stats-2">5</div>
            <div class="block-stats-3">20</div>
            <div class="block-stats-4">100</div>
          </div>
          <div class="user-stats-item">
            <div class="block-stats-1">Answers</div>
            <div class="block-stats-2">30</div>
            <div class="block-stats-3">150</div>
            <div class="block-stats-4">1000</div>
          </div>
          <div class="user-stats-item user-stats-item-last">
            <div class="block-stats-1">Visitors</div>
            <div class="block-stats-2">100</div>
            <div class="block-stats-3">3000</div>
            <div class="block-stats-4">5000</div>
          </div>
        </div>
        <!-- End user-stats -->
      </div>
      <!-- End page-content -->
    </div>
    <!-- End main -->
    <aside class="col-md-3 sidebar">
      <div class="widget widget_stats">
        <h3 class="widget_title">Stats</h3>
        <div class="ul_list ul_list-icon-ok">
          <ul>
            <li>
              <i class="icon-question-sign"></i>Questions ( <span>20</span> )
            </li>
            <li><i class="icon-comment"></i>Answers ( <span>50</span> )</li>
          </ul>
        </div>
      </div>

      <div class="widget widget_social">
        <h3 class="widget_title">Find Us</h3>
        <ul>
          <li class="rss-subscribers">
            <a href="#" target="_blank">
              <strong>
                <i class="icon-rss"></i>
                <span>Subscribe</span><br />
                <small>To RSS Feed</small>
              </strong>
            </a>
          </li>
          <li class="facebook-fans">
            <a href="#" target="_blank">
              <strong>
                <i class="social_icon-facebook"></i>
                <span>5,000</span><br />
                <small>People like it</small>
              </strong>
            </a>
          </li>
          <li class="twitter-followers">
            <a href="#" target="_blank">
              <strong>
                <i class="social_icon-twitter"></i>
                <span>3,000</span><br />
                <small>Followers</small>
              </strong>
            </a>
          </li>
          <li class="youtube-subs">
            <a href="#" target="_blank">
              <strong>
                <i class="icon-play"></i>
                <span>1,000</span><br />
                <small>Subscribers</small>
              </strong>
            </a>
          </li>
        </ul>
      </div>

      <div class="widget widget_login">
        <h3 class="widget_title">Login</h3>
        <div class="form-style form-style-2">
          <form>
            <div class="form-inputs clearfix">
              <p class="login-text">
                <input
                  type="text"
                  value="Username"
                  onfocus="if (this.value == 'Username') {this.value = '';}"
                  onblur="if (this.value == '') {this.value = 'Username';}"
                />
                <i class="icon-user"></i>
              </p>
              <p class="login-password">
                <input
                  type="password"
                  value="Password"
                  onfocus="if (this.value == 'Password') {this.value = '';}"
                  onblur="if (this.value == '') {this.value = 'Password';}"
                />
                <i class="icon-lock"></i>
                <a href="#">Forget</a>
              </p>
            </div>
            <p class="form-submit login-submit">
              <input
                type="submit"
                value="Log in"
                class="button color small login-submit submit"
              />
            </p>
            <div class="rememberme">
              <label
                ><input type="checkbox" checked="checked" /> Remember Me</label
              >
            </div>
          </form>
          <ul class="login-links login-links-r">
            <li><a href="#">Register</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="widget widget_highest_points">
        <h3 class="widget_title">Highest points</h3>
        <ul>
          <li>
            <div class="author-img">
              <a href="#"
                ><img
                  width="60"
                  height="60"
                  src="../ask-me/images/demo/{{user.username}}.jpg"
                  alt=""
              /></a>
            </div>
            <h6><a href="#">{{user.username}}</a></h6>
            <span class="comment">12 Points</span>
          </li>
          <li>
            <div class="author-img">
              <a href="#"
                ><img
                  width="60"
                  height="60"
                  src="../ask-me/images/demo/avatar.png"
                  alt=""
              /></a>
            </div>
            <h6><a href="#">vbegy</a></h6>
            <span class="comment">10 Points</span>
          </li>
          <li>
            <div class="author-img">
              <a href="#"
                ><img
                  width="60"
                  height="60"
                  src="../ask-me/images/demo/avatar.png"
                  alt=""
              /></a>
            </div>
            <h6><a href="#">ahmed</a></h6>
            <span class="comment">5 Points</span>
          </li>
        </ul>
      </div>

      <div class="widget widget_tag_cloud">
        <h3 class="widget_title">Tags</h3>
        <a href="#">projects</a>
        <a href="#">Portfolio</a>
        <a href="#">Wordpress</a>
        <a href="#">Html</a>
        <a href="#">Css</a>
        <a href="#">jQuery</a>
        <a href="#">2code</a>
        <a href="#">vbegy</a>
      </div>

      <div class="widget">
        <h3 class="widget_title">Recent Questions</h3>
        <ul class="related-posts">
          <li class="related-item">
            <h3><a href="#">This is my first Question</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="clear"></div>
            <span>Feb 22, 2014</span>
          </li>
          <li class="related-item">
            <h3><a href="#">This Is My Second Poll Question</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="clear"></div>
            <span>Feb 22, 2014</span>
          </li>
        </ul>
      </div>
    </aside>
    <!-- End sidebar -->
  </div>
  <!-- End row -->
</section>
<!-- End container -->
{% endblock content%}
